model/Dict_l.npy
model/Dict_t.npy
model/lee_model_mapping20190528.npy
model/manyid
model/processed_data_l
model/Rv_dict_l.npy
model/Rv_dict_t.npy
model/Rwd_l.npy
model/Rwd_t.npy
model/sentence_dict_20190528_vers.npy
model/sentence_dict_november_vers.npy
model/stop_B.txt
model/training_data_2
model/userdict.txt
model/Wd_l.npy
model/Wd_t.npy
model/Wdata.npy
model/Ydata.npy
model/Yfinal_l.npy
tool/asus_customer_service/FPTree/0752303_HW2_final.zip
tool/asus_customer_service/FPTree/build_tree.py
tool/asus_customer_service/FPTree/buying_list.py
tool/asus_customer_service/FPTree/main.py
tool/asus_customer_service/FPTree/readme.txt
tool/asus_customer_service/FPTree/test.txt
tool/asus_customer_service/FPTree/test2.txt
tool/asus_customer_service/FPTree/true_round.py
tool/asus_customer_service/FPTree/__pycache__/build_tree.cpython-36.pyc
tool/asus_customer_service/FPTree/__pycache__/buying_list.cpython-36.pyc
tool/asus_customer_service/FPTree/__pycache__/true_round.cpython-36.pyc
tool/jieba/__init__.py
tool/jieba/__main__.py
tool/jieba/_compat.py
tool/jieba/dict.txt
tool/jieba/__pycache__/__init__.cpython-36.pyc
tool/jieba/__pycache__/__init__.cpython-37.pyc
tool/jieba/__pycache__/_compat.cpython-36.pyc
tool/jieba/__pycache__/_compat.cpython-37.pyc
tool/jieba/analyse/__init__.py
tool/jieba/analyse/analyzer.py
tool/jieba/analyse/idf.txt
tool/jieba/analyse/textrank.py
tool/jieba/analyse/tfidf.py
tool/jieba/finalseg/__init__.py
tool/jieba/finalseg/prob_emit.p
tool/jieba/finalseg/prob_emit.py
tool/jieba/finalseg/prob_start.p
tool/jieba/finalseg/prob_start.py
tool/jieba/finalseg/prob_trans.p
tool/jieba/finalseg/prob_trans.py
tool/jieba/finalseg/__pycache__/__init__.cpython-36.pyc
tool/jieba/finalseg/__pycache__/__init__.cpython-37.pyc
tool/jieba/finalseg/__pycache__/prob_emit.cpython-36.pyc
tool/jieba/finalseg/__pycache__/prob_emit.cpython-37.pyc
tool/jieba/finalseg/__pycache__/prob_start.cpython-36.pyc
tool/jieba/finalseg/__pycache__/prob_start.cpython-37.pyc
tool/jieba/finalseg/__pycache__/prob_trans.cpython-36.pyc
tool/jieba/finalseg/__pycache__/prob_trans.cpython-37.pyc
tool/jieba/posseg/__init__.py
tool/jieba/posseg/char_state_tab.p
tool/jieba/posseg/char_state_tab.py
tool/jieba/posseg/prob_emit.p
tool/jieba/posseg/prob_emit.py
tool/jieba/posseg/prob_start.p
tool/jieba/posseg/prob_start.py
tool/jieba/posseg/prob_trans.p
tool/jieba/posseg/prob_trans.py
tool/jieba/posseg/viterbi.py
word2vec.model
model/dict.txt.big
tool/jieba/__pycache__/__init__.cpython-39.pyc
tool/jieba/__pycache__/_compat.cpython-39.pyc
tool/jieba/finalseg/__pycache__/__init__.cpython-39.pyc
tool/jieba/finalseg/__pycache__/prob_emit.cpython-39.pyc
tool/jieba/finalseg/__pycache__/prob_start.cpython-39.pyc
tool/jieba/finalseg/__pycache__/prob_trans.cpython-39.pyc
